{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <a href="{{ path('post_new') }}" class="btn btn-primary float-right">Ajouter article</a>
    <h1>Liste des articles</h1>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Image</th>
                <th>Ajouter Le</th>
                <th>Categorie</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td> <a href="{{ path('post_show', {'id': post.id}) }}">{{ post.title }}</a></td>
                    <td><img src="{{ post.image }}" width="100px"></td>
                    <td>{{ post.category }}</td>
                    <td>{{ post.createdAt ? post.createdAt|date('d/m/Y') : '' }}</td>
                    <td>
                        <a href="{{ path('post_edit', {'id': post.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr class="table-danger">
                    <td colspan="6" class="text-center">Aucun enregistrement!</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}
